@CHARSET "Windows-31J";

/* default setting
------------------------------------------- */
h1,h2,h3,h4.h5,h6,p,ul,li,dl,dt,dd,ol,blockquote {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
	line-height: 1.0;
	list-style: none;
}


body {
	margin: 0 auto;
	padding: 0;
	background: #C0DEED;
	color: #333333;
	font-size: 80%;
	font-family: Verdana;
}

div#wrapper {
    width: 800px;
    margin: 0 auto;
    border: 1px solid #FF0000;
}


div.content{
	padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

div.message{
	border:1px solid #FF0000;
	margin-bottom: 20px;
}

div.account{
	padding-bottom:3px;
}

div.icon{
	padding-left: 4px;
    padding-right: 20px;
    float: left;
}
a.link{
	margin-top:20px;
}

div.comment{
	position: relative;
	width:100%;
	min-height:70px;

}

div.my-image{
	padding-left:30px;
	padding-right:30px;
}

div.date{
	position: absolute;
	bottom: 4px;
	right:4px;
}

p {
	border-style: solid;
	border-width: 1px;
	margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 100px;
    padding-top: 5px;
    padding-left: 10px;
}

table {
	 margin: 0 auto;

}

table.time-line {
	border: 2px solid blue;
	width:100%;
}

td.coment {
	margin-bottom: 50px;
	border: 1px solid red;
}

table td.tl-image {
	margin: 0 auto;
	text-aline: center;
}